* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



.navbar {
  padding: 20px 0px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}

.navbar .items {
  display: flex;
  gap: 30px;
}

.navbar .items li {
  text-decoration: none;
  list-style: none;
}



/* container css starts */

.container {
  padding: 30px 0px;
  width: 65%;
  margin: auto;
  display: flex;
  height: 40rem;
}

/* left card code starts */

.left-card {
  height: 100px;
  width: 45%;
  padding: 10px 10px;
}

.left-card p:nth-child(1) {
  font-size: 40px;
  font-weight: bold;
}

.left-card .card-items {
  height: auto;
  width: 100%;
  margin-top: 10px;
}

.left-card .card-items .image img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.left-card .content {
  padding: 0px 20px;
}

.left-card .content p:nth-child(2) {
  margin-top: 10px;
  line-height: 22px;
  font-weight: 500;
  color: rgb(151, 157, 172);
}

.left-card .Categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-card .Categories p:nth-child(1) {
  display: flex;
  margin-top: 20px;
}

.left-card .Categories i {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.left-card .Categories span {
  font-size: 15px;
  color: rgb(151, 157, 172);
  font-weight: 200;
  margin-left: 10px;
}


.left-card .Categories p:nth-child(2) {
  color: black;
  display: flex;
}

.left-card .Categories p:nth-child(2) i {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}


/* left card code finished */

/* right card code starts */

.right-card {
  float: right;
  padding: 10px 10px;
  height: 100px;
  width: 55%;
  margin-top: 104px;
}

.card {
  height: 160px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
}

.card .image {
  height: 100%;
  border-radius: 10px;
  width: 30%;
  margin-right: 20px;
  object-fit: cover;
  overflow: hidden;
}

.card .image img {
  height: 100%;
  width: 100%;
}

.card .card-content {
  padding: 20px 0px;
  width: 60%;
}

.card .firstRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .firstRow i {
  color: blue;
}

.card .firstRow p:nth-child(2) {
  color: blue;
}

.card .title-text h4 {
  margin-top: 10px;
}

.card .title-text p {
  color: rgb(151, 157, 172);
  line-height: 16px;
  margin-top: 10px;
}

/* right card code finished */

/* container css finsished */

/* category-part css starts */

.category-part {
  padding: 30px 0px;
  width: 100%;
  margin: auto;
  background-color: rgb(251, 251, 252);
  height: 30rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-part .items {
  display: flex;
  gap: 30px;

}

.category-part .items .item {
  height: 13rem;
  width: 13rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items .item .icon {
  font-size: 30px;
  font-weight: bolder;
}

.items .item .item-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items .item .item-content p {
  font-size: 15px;
  margin-top: 10px;
}




/* category-part css finished */